body {
  color:azure;
  background-color:black;
}

.choice-container {
  display: flex;
  margin-bottom: 15px;
  margin-left:500px;
  width: 50%;
  border-radius: 5px;
  background:burlywood;
  font-size: 30px;
  min-width:150px;

}

.choice-prefix {
  padding: 30px;
  color: white
}

.choice-text {
  padding:30px;
  width:100%;
  height:100px;
}
.correct{
background:greenyellow;
}

.incorrect {
  background: red;
}

#hud {
  display: flex;
  justify-content: center;
}

.hud-prefix {
  text-align: centre;
  font-size: 35px;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 320px;
  height:50px;
  border:6px solid #99ffbb;
  margin-top: 35px;
  border-radius:50px;
  
}